# APP STATE
NODE_ENV=development

# BACKEND

FRONTEND_URL=http://localhost:8081

LEGACY_API_URL=https://assignments.reaktor.com
LEGACY_API_TOKEN=test

POSTGRES_HOST=db
POSTGRES_USER=reaktor-rps
POSTGRES_PASSWORD=reaktor-rps
POSTGRES_DB=reaktor-rps
